.rate-btns {
    height: 4vw;
    width: 4vw;
    font-size: 12pt;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    border-color: gray;
    margin-right: 1vw;
  }
  .rate-div {
    display: flex;
  }
  #rate-btn1 {
    background-color: rgb(247, 79, 67);
  }
  #rate-btn1:hover {
    background-color: #4cb0f3;
  }
  #rate-btn2 {
    background-color: rgb(247, 139, 67);
  }
  #rate-btn2:hover {
    background-color: #4cb0f3;
  }
  #rate-btn3 {
    background-color: rgb(247, 220, 67);
  }
  #rate-btn3:hover {
    background-color: #4cb0f3;
  }
  #rate-btn4 {
    background-color: rgb(220, 247, 67);
  }
  #rate-btn4:hover {
    background-color: #4cb0f3;
  }
  #rate-btn5 {
    background-color: rgb(133, 247, 67);
  }
  #rate-btn5:hover {
    background-color: #4cb0f3;
  }
  .rate-btns:hover {
    cursor: pointer;
  }
  